//- header.jade
div.header
  div.header__logo
    img.logo(src="src/img/logo.png")
  div.header__navbar
    nav.navbar
      li.navbar__item выбор проекта дома
      li.navbar__item выбор земли
      li.navbar__item итоговый расчет
      li.navbar__item контакты
  div.header__tel
    div.tel
      div.tel__number (812) 309-29-83
      div.tel__order-call
        a.order-call Заказать обратный звонок