//- header.jade
div.header.clearfix
  div.header__logo
    a(href="#")
      img.logo(src="src/img/logo.png", alt="logo")
  div.header__navbar.clearfix
    nav.navbar
      li.navbar__item выбор проекта дома
      li.navbar__item выбор земли
      li.navbar__item итоговый расчет
      li.navbar__item контакты
  div.header__tel
    div.tel
      div.tel__number (812) 309-29-83
      div.tel__order-call
        a.order-call(href="#") Заказать обратный звонок