div.hidden
  div.hidden__button-list
    div.hidden-button-item.hide-button
    div.hidden-button-item.expand-button
  div.hidden__text
    div.hid-text-total Итоговая цена:
    div.hid-text-price <span>12 000 000</span> руб.
    div.hid-text-tip без вычета стоимости Вашей квартиры
  div.hidden__order-button
    button.order-button.pink-button Заказать
