div.land
  div.land__title
    div.land-title.big-black-title Выбор земли
    div.land-title-sub На все земельные участки подведены: электричество, водопровод, газ
  div.land__slider.clearfix
    div.land-slider__button.land-slider__button--prev
    div.land-slider__name Коттеджный поселок "Гармония" Выборгский район, деревня Александровка
    div.land-slider__button.land-slider__button--next
  div.land__button-list
    button.land-button-item Участок 12
    button.land-button-item Участок 46
    button.land-button-item Участок 16
    button.land-button-item Участок 24
    button.land-button-item Участок 13
  div.land__preview
    div.land-preview
      div.land-preview__map
        img.preview-map(src="src/img/land_map.jpg")
      div.land-preview__char
        div.land-char
          div.land-char__title стоимость участков от <span>90 000</span> руб/сотка
          table.land-char__icons-list
            tr.land-char-row
              td.land-char-row__left.land-char-ico--electr Электричество
              td.land-char-row__right.land-char-ico--electr Магистральный Газ
            tr.land-char-row
              td.land-char-row__left.land-char-ico--water Водопровод
              td.land-char-row__right.land-char-ico--water Канализация

          div.land-char__describe "Гармония" - дачный коттеджный поселок на берегу Александровского озера. Расположенный на Карельском перешейке в 105 км от Санкт-Петербурга поселок предназначен для сезонного проживания и круглогодичного отдыха. На территории в 85 гектаров будет построено около трехсот индивидульных домов на участках от 14 до 100 соток. Концепция предполагает гармониченое сочетание пяти архитектурных стилей, в которых будут решены все постройки. Скандинавский, русский, восточноевропекйский, британский и пльпийский стили домов формируют мини-кварталы поселка.