div.map
  div.map-contact
    div.map-contact__title контактные данные
    div.map-contact__underline
    div.map-contact__data
      table.contact-data
        tr.contact-row
          td.contact-place.contact-left 191144, г. Санкт-Петербург, Кирилловская ул., д. 17
          td.contact-person.contact-right Контактное лицо: Юрий Крапива
        tr.contact-row
          td.contact-phone.contact-left +7 (812) 309-29-83
          td.contact-email.contact-right <a href="email:info@a-industry.ru">info@a-industry.ru</a>
