div.project
  div.project__title.big-black-title Выбор проекта дома
  div.project__carousel-btn
    button.carousel-btn.carousel-btn--prev
    button.carousel-btn.carousel-btn--next Следующий
  div.project__main.clearfix
    div.main-left
      div.main-left__house-img
        img(src="http://lorempixel.com/477/316/abstract")
      div.main-left__house-min-list.clearfix
        div.house-min-item
          div.house-min-item__title Интерьер
          div.house-min-item__pic
            img(src="http://lorempixel.com/148/154/abstract")
        div.house-min-item
          div.house-min-item__title Первый этаж
          div.house-min-item__pic
            img(src="http://lorempixel.com/148/154/abstract")
        div.house-min-item
          div.house-min-item__title Второй этаж
          div.house-min-item__pic
            img(src="http://lorempixel.com/148/154/abstract")
    div.main-right
      div.main-right__tbl
        table.spec
          tr.table-row
            td.table-title Наружные стены
            td.table-describer Деревянный каркас с утеплением 200мм
          tr.table-row
            td.table-title Фундамент
            td.table-describer Винтовые сваи 108мм. Толщина сваи 4мм
          tr.table-row
            td.table-title Перекрытия
            td.table-describer Деревянные лаги
          tr.table-row
            td.table-title Кровля
            td.table-describer Мансардная, деревянная стропилка
          tr.table-row
            td.table-title Покрытие кровли
            td.table-describer Ондулин
          tr.table-row
            td.table-title Наружная отделка
            td.table-describer Штукатура, окраска, ошивка доской
          tr.table-row
            td.table-title Цоколь
            td.table-describer Облицовка исксственным камнем
          tr.table-row
            td.table-title Остекление
            td.table-describer Пластиковые окна
          tr.table-row
            td.table-title Электрика
            td.table-describer Счетчик, розетки, выключатели, светильники
          tr.table-row
            td.table-title Канализация
            td.table-describer Автономная, Септик с очистной более 90% и рассеивающим полем
          tr.table-row
            td.table-title Водопровод
            td.table-describer Скважина
          tr.table-row
            td.table-title Отопление и ГВ
            td.table-describer Автономное газовое
      div.main-right__net
        table.net
          tr.net-row
            td.net-title Общая площадь
            td.net-descr <span>104,3</span> кв. м
          tr.net-row
            td.net-title Цена проекта под ключ
            td.net-descr <span>3 750 000</span> руб
