//- tender.jade
div.tender.clearfix
  div.tender__appeal
    div.appeal
      div.appeal__bold.big-black-title Поменяй свою квартиру на новый загородный дом!
      div.appeal__sub Обмен жилья происходит на условиях взаиморасчета. Мы оцениваем стоимость вашей квартиры и предлагаем вам варианты домов, которые соответствуют рассчитанной стоимости.
  div.tender__house
    div.house
      div.house__input
        form.tender-form
          input.tender-input.tender-input--square(type="text", placeholder="Площадь Вашей квартиры")
          input.tender-input.tender-input--district(type="text", placeholder="Район")
          input.tender-input.tender-input--email(type="text", placeholder="Email или телефон")
          input.tender-button.pink-button(type="submit", value="Оставить заявку")
        div.house-sub Загородная жизнь - это не только просторный дом и свой собственный участок земли. Это еще и свежий воздух, пение птиц за окном, звездное небо и парное молоко с соседней фермы.
  div.tender__foot 
    div.slogan Мы постарались сделать процесс Вашего переезда максимально простым и наглядным
    div.arrow
  